* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(225, 225, 225, 0.4);
    border-bottom: 1px solid #b0a6a6;;


}

header.sticky{
    background: rgba(255, 255, 255, 1);
}

header:hover{
    background: rgba(255, 255, 255, 1);
}

.logo {
    flex: 1;    
}

.logo .logo-chocolate svg{
    margin-bottom: 30px;
}
/* ...............................Menu............................. */
.menu {
    flex: 3;
    display: flex;
}
.menu > li {
    padding: 0 12px;
    position: relative;
}

.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff  ;
}
.sub-menu ul {
    padding-left: 20px;
}
.sub-menu ul a {
    font-weight: normal!important;
    font-size: 12px!important;
}
.menu li a {
    font-size: 12px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
    
}
/* ..........................Other ..............................*/
.other {
    flex: 1;
    display: flex;
}
.other > li {
    padding: 0 12px;
    position: relative;
}

.other > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: #3a3a3a;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.other > li:last-child::after{
    display: none;
}
.other li:first-child {
    position: relative;
}
.other li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.other li:first-child i {
    position: absolute;
    right: 10px;
}


/*.............................Slider.............................. */

#Slider {
    padding-bottom: 30px;
    border-bottom: 2px solid ;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
  }

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    text-align: center;
    justify-content:center ;
}
.dot{

    height: 15px;
    width: 15px;
    background-color: #CCC;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}

/* ................................app............................ */

.app-container{
    text-align: center;
    align-items: center;
    padding: 100px 0 0 0; 
}
.app-container p {
    line-height: 15px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    width: 400px;
    text-align: center;
    outline: none;
}

.app-google {
    margin: 50px;
}
.app-google img {
    height: 50px;
}

/* .....................................footer............................ */

footer {
    text-align: center;
    position: relative;
    top: 70px;
     border-top: 1px solid #000;
}

.footer-top{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
margin-bottom: 20px;
height: 70px;
}
.footer-top img{
    height: 50pxz;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}

.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none; 
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}

.footer-bottom{
    margin-top: 20px;
}
footer p span {
    font-weight: bold;
}



/* P3 giao dien ban hang frontend 28.21p*/
/* Giao dien Trang chu */

.row {
    display: flex;
    flex-wrap: wrap;
}
/* Cartegory */

.cartegory{
    padding: 100px 60px 0 ;
}
.cartegory-top{
    margin-bottom: 50px;
}
.cartegory-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left{
    width: 20%;
}
.cartegory-right{
    width: 80%;
}

.cartegory-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}

.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button{
    width: 100%;
    padding: 7px 7px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
}
.cartegory-right-top-item select{
    width: 100%;
    padding: 7px 7px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
}

.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}

.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #221e1e;
}
.cartegory-right-content-item img{
    width: 100%;
}

.cartegory-right-bottom{
    justify-content: space-between;
    /* margin: 30px 0 20px; */
    width: 100%;
    
}
.pag-st{
    justify-content: right;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius:0.25rem ;
}
.pag-st li a{
    font-size: 12px;
    /* font-size: 1.2rem; */
    line-height: 18px;
    line-height: 1.8rem;
    color: #999;
    background: #fff;
    padding: 2px 8px;
    border: 1px solid rgb(170, 171, 171)!important;
    margin-right: 5px;
    border-radius: 5px 0 5px 0;
}

.cartegory-left ul li{
    padding: 12px 0;

}

.cartegory-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.cartegory-left ul li ul li{
    padding-left: 10px;
}

.cartegory-left-li ul{
    display: none;
}
.cartegory-left-li.block ul {
    display: block;
}

.cartegory-left ul li ul li a{
    color: #333333;
    font-size: 12px;
    font-family: var(--main-text-font);
}

/* .............Prooduct.............................. */

.product{
    padding: 100px 0;

}

.product-top{
    margin-bottom: 30px;
}
.product-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.product-content-left{
    width: 50%;
}

.product-content-right{
    width: 50%;
}
.product-content-left-big-img{
    width: 80%;
    padding: 20px;
}

.product-content-left-big-img img{
    width: 100%;
}

.product-content-left-smalll-img{
    width: 20%;
}

.product-content-left-smalll-img img{
    width: 100%;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}

.product-content-right-product-QR img{
    width: 7%;
    /* height: 10px; */
}

.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 16px;
}
.product-content-right-product-name p{
    color: #242424cc;
    font-size: 12px ;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.product-content-right-product-color p{
    width: 30%;
    font-family: var(--main-text-font);
}

.product-content-right-product-color{
    margin-bottom: 10px;
}

.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}

.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}

.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ffff;
    border: 2px solid black;
    cursor: pointer;
}

.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: #ffff;
}

.product-content-right-product-button button:last-child{
        border: 2px solid #BF8A49;
        color: #BF8A49;
        background-color: #ffff;
        cursor: pointer;
}
.product-content-right-product-icon{
    display: flex;

}
.product-content-right-product-icon-item{
    display: flex;
    margin-right:12px;
    justify-content: center;
    align-items: center;
}

.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-product-QR img{
    width: 7%; 
    margin: 20px 0;
}


/* Product-related  */

.product-related{
    margin-bottom: 50px;
}
.product-related-title{
    border-top:1px solid ;
}
.product-related-title p{
    margin: 20px 0;
}